<!DOCTYPE html>
<html>
<head>
    <title>Register - Voting System</title>
</head>
<body>
    <h2>Voter Registration</h2>
    <form method="POST">
        Name: <input type="text" name="name" required><br><br>
        Email: <input type="email" name="email" required><br><br>
        Register No: <input type="text" name="register_no" required><br><br>
        Password: <input type="password" name="password" required><br><br>
        <input type="submit" value="Register">
    </form>
    <p>Already registered? <a href="/login">Login here</a></p>
</body>
</html>
